# Fundamentos de Python
* Variables
* Operadores matemáticos
* Operadores lógicos
* Operadores de comparación
* Condicionales
    - Simples
    - Compuestos
    - Anidados
    - Encadenados
* Ciclos
    - Finitos (for)
    - Infinitos (while)
* Funciones
* Estructuras de datos
    - Caracteres
    - Enteros
    - Flotantes
    - Listas
    - Diccionarios
    - Tuplas
* Fundamentos de POO

In [1]:
print("Epale")

Epale

In [2]:
# variables
name = "Javier"

In [3]:
name

'Javier'

In [4]:
last_name = "Gonzalez"

In [5]:
LastName = "Primero"

In [6]:
last-name = "primero"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (906108882.py, line 1)

In [7]:
last.name = "primero"

NameError: name 'last' is not defined

In [8]:
# operadores matematicos
suma = 2 + 2
resta = 2 - 2
multiplicacion = 2 * 2
division = 2 / 2

In [14]:
number1 = 12
number2 = 20.33

In [16]:
suma = number1 + number2
resta = number1 - number2
multiplicacion = number1 * number2
division = number1 / number2

In [17]:
print(suma)
print(resta)

32.33
-8.329999999999998

In [21]:
print(f"El resultado de la suma es: {suma}")
print(f"resta: {resta}")
print (f"multiplicacion: {multiplicacion}")
print (f"division: {division}")

El resultado de la suma es: 32.33
resta: -8.329999999999998
multiplicacion: 243.95999999999998
division: 0.5902606984751599

In [ ]:
# operadores de comparacion
# igual a ==
# mayor que >
# menor que <
# mayor o igual que >=
# menor o igual que <=
# diferente !=

In [22]:
3 > 2

True

In [23]:
3 != 3

False

In [24]:
number1 == number2

False

In [28]:
# condicionales
print(number1)
print(number2)

if number1 < number2:
    print("number1 es menor que number2")

12
20.33
number1 es menor que number2

In [30]:
# condicionales
print(number1)
print(number2)

if number1 > number2:
    print("number1 es mayor que number2")
else:
    print("number1 no es mayor que number2")

12
20.33
number1 no es mayor que number2

In [33]:
# condicionales
number1 = 12
number2 = 12

if number1 > number2:
    print("number1 es mayor que number2")
elif number1 < number2:
    print("number1 es menor que number2")
elif number1 == number2:
    print("number1 es igual que number2")

number1 es igual que number2

In [34]:
# condicionales
number1 = 14
number2 = 12

if number1 > number2:
    if number1 > 10:
        print("number1 es mayor que number2")
        print("number1 es mayor que 10")

number1 es mayor que number2
number1 es mayor que 10

In [35]:
# condicionales
number1 = 14
number2 = 12

if (number1 > number2) and (number1 > 10):
    print("number1 es mayor que number2")
    print("number1 es mayor que 10")

number1 es mayor que number2
number1 es mayor que 10

In [43]:
# condicionales
number1 = 14
number2 = 12.45

if number1 > number2:
    if number1 > 10:
        print("number1 es mayor que number2")
    else:
        print("number1 no es mayor que number2")
else:
    print("number1 no es mayor que number2")

number1 es mayor que number2

In [44]:
# Estructuras de datos
# strings
name = "josefino"

In [45]:
type(name)

str

In [46]:
name.capitalize()

'Josefino'

In [47]:
type(number1)

int

In [48]:
type(number2)

float

In [49]:
# listas
name_list = ["jose", "javier", "josefino", "josefina"]

In [50]:
age_list = [20, 30, 40, 50]

In [51]:
name_list.append("ruperto")

In [52]:
name_list

['jose', 'javier', 'josefino', 'josefina', 'ruperto']

In [53]:
age_list2 = [
    23,
    32,
    45,
    50
]

In [54]:
name_list

['jose', 'javier', 'josefino', 'josefina', 'ruperto']

In [55]:
name_list [1]

'javier'

In [56]:
name_list [3]

'josefina'

In [57]:
name_list [-1]

'ruperto'

In [58]:
name_list [0]

'jose'

In [63]:
# slice de una lista
name_list [0:4:2]

['jose', 'josefino']

In [64]:
len(name_list)

5

In [67]:
# ciclos finitos
for name in name_list:
    print(name)

jose
javier
josefino
josefina
ruperto

In [69]:
# ciclos finitos
for name in name_list:
    if name == "ruperto":
        # imprime la posicion de la lista
        print(name_list.index(name))

4

In [76]:
# recorrido de una lista por indices
for item in range(len(name_list)):
    if name_list[item] == "ruperto":
        #imprime la posicion de la lista
        print(name_list[item])
        print(item)

ruperto
4

In [79]:
# rango de valores con range
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Funciones en python

In [2]:
def saludos():
    print("Hola")

In [4]:
saludos()

Hola

In [5]:
# función que salude a un nombre
def saludos(name):
    print(f"Hola {name}")

In [7]:
saludos("josefino")

Hola josefino

In [8]:
# función que sume 2 números
def suma(number1, number2):
    return number1 + number2

In [9]:
suma(2, 3)

5

In [10]:
# función para calcular la altura de un triángulo
def area_triangulo(base, altura):
    return (base * altura) / 2

In [11]:
area_triangulo(2, 3)

3.0

In [12]:
area_triangulo(base=3, altura=2)

3.0

In [13]:
area_triangulo(altura=2, base=3)

3.0

In [14]:
# función con argumentos por defecto
def area_triangulo(base=2, altura=3):
    return (base * altura) / 2

In [18]:
area_triangulo(5, 3)

7.5

In [19]:
# documentación de una función
def area_triangulo3(base=2, altura=3):
    """
    Esta función calcula el área de un triángulo
    :param base: base del triángulo
    :param altura: altura del triángulo
    :return: área del triángulo
    """
    return (base * altura) / 2

In [20]:
area_triangulo3()

3.0

In [21]:
# documentación de una función
def area_triangulo4(base=float, altura=float) -> float:
    """
    Esta función calcula el área de un triángulo
    :param base: base del triángulo float o int
    :param altura: altura del triángulo float o int
    :return: área del triángulo float
    """
    return (base * altura) / 2

In [24]:
area_triangulo4(2,3)

3.0

In [25]:
area_triangulo4(2.4,3.5)

4.2

In [26]:
area_triangulo4(altura=3.5, base=2.4)

4.2